*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
}
main{
    margin-top: 1.5rem;
}
section{
    margin-top: 1.5rem;
    display: flex;
}
main h1{
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
}
.container{
    border: 1px solid black;
    background-color: #999999;
    margin: 1rem;
}
.text{
    padding: .7rem;
}
.container h2{
    font-size: 1rem;
    border: 1px solid black;
    padding: .5rem 1rem .5rem 1rem;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    width: 25%;
}
.beef{
    background-color: #C14543;
    color: white;
}
.sushi{
    background-color: #E5D198;
}
.chicken{
    background-color: #D59898;
}
.end{
    display: flex;
    justify-content: flex-end;
}

@media (max-width:767px) {
    section{
        flex-direction: column;
    }
    h2.chicken,h2.beef, h2.sushi{
        font-size: 1rem;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    section{
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    .container{
        width: 100%;
        border: 1px solid red;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
    } 
    .con1, .con2{
        border: 1px solid green;
         width: calc(50% - 35px);
         /* flex-grow: 2;  */
    }
    .con3{
        border: 1px solid green;
        width: 100%;
    }
    h2.chicken,h2.beef, h2.sushi{
        font-size: .8rem;
    }
    h2.chicken,h2.beef, h2.sushi{
        padding: 1rem 3rem 1rem 3rem;
    }
}
